__pycache__
target
.mypy_cache
.doit*
*.build
*.dist
main.app/
*.dmg
*.tar.xz
*.tar
.DS_Store
swiftnav_console/console_resources.py
*.*~
py39-dist/
py39/
dist/
console_backend/tests/fileout.json
get-pip.py
.*.sw?
installers/Windows/*.exe
installers/Linux/*.deb
installers/Windows/NSIS/*
!installers/Windows/NSIS/*.zip
/.qt_for_python
/pyside-setup
.vagrant/
