[Desktop Entry]
Name=Swift Console
Type=Application
Exec=/opt/swift-console/swift-console
Terminal=false
NoDisplay=false
Categories=Science
Version=4.0
Icon=swift-console
